<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Real Estate & Construction</h2>
            <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/industries" style="text-decoration: none; color: white"
                  >Industries</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/industries/real-estate-construction"
                  style="text-decoration: none; color: white"
                  >Real Estate Construction</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">Real Estate Construction</h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
              <p class="mb-4">
                Customers value our technical expertise and knowledge of the real estate and construction and our network of contacts that helps them in daily challenges and their business.

              </p>
  
              <p class="mb-4">
                In addition to the Audit and Statutory Audit, our team has extensive experience in conducting due diligence accounting and tax, mergers and acquisitions, realization of economic and financial restructuring studies.

              </p>

              <p class="mb-4">
                BDO provides to its customers business outsourcing services covering accounting assistance and the role of Certified Accountant, as well as regular updates and guidance with regard to the latest tax issues.

              </p>
              <p class="mb-4">
                BDO's professionals understand the changes and challenges facing the sector, from fierce competition and rising costs, to bonding and insurance issues.

              </p>
              <p class="mb-4">
                In addition to traditional audit, tax, and consulting work, BDO helps clients navigate today's issues through profitability analysis, contract compliance, bonding, and credit capabilities, as well as overhead analysis.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  