 <!--/inner-page-->
 <div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title">
                        About Us </h2>
                    <p class="inner-page-para mt-2">
                        The Unique Solutions
                        for Your Business</p>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/home" style="color:white; text-decoration: none;">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> About Us</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<!--//inner-page-->

<!-- About Us Page Starts -->
<div style="margin: 8px auto; display: block; text-align:center;">
    <p class="mb-4" style="color: black;">
        KWAMU & CO.(KWAMU) is a professional services firm registered under the laws of the Federal Republic of Nigeria. The firm is led by a team of knowledge-driven experts specializing in diverse business fields. Our mission is to empower businesses to grow, thrive, and achieve a substantial and lasting financial impact by delivering value-added and strategic business development solutions.
    </p>

    <p class="mb-4" style="color: black;">
        We provide tailored, high-quality support services, advisory, and insights for various types of businesses, from for-profits to non-profits and startups. Our focus is on ensuring clients' profitability and growth through innovative strategies that drive efficiency and enhance competitiveness.
    </p>

    <p class="mb-4" style="color: black;">
        At KWAMU & CO. we work with organizations of all sizes: micro, small, medium, and large enterprises. We are committed to being by your side every step of the way, helping you and your business achieve your goals and aims. Our value-adding services cover key areas such as Advisory, Audit & Assurance, Tax.
    </p>
    </div>


    <!-- Vission and Mission -->
     <section id="vision-mission" class="py-5">
  <div class="container">
    <h2 class="section-title text-center mb-5">VISION & MISSION</h2>
    <div class="row justify-content-center">
      <!-- Vision Card -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card vision-card text-center">
          <h3 class="card-title mb-3">VISION</h3>
          <p class="card-text">
            ‘‘to become a World class Professional Service Firm’’
          </p>
        </div>
      </div>
      <!-- Mission Card -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card mission-card text-center">
          <h3 class="card-title mb-3">MISSION</h3>
          <p class="card-text">
            “to be the leader in the provision of value-adding professional
            services to clients, while ensuring growth to clients, employees,
            owners, and firm”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/bottom-3-grids-->
<div class="w3l-3-grids py-5" id="grids-3">
    <div class="container py-md-5 py-2">
        <!--/row-1-->
        <div class="row mb-5 pb-lg-4">
            <div class="col-lg-6 pe-lg-4">
                <div class="title-content text-left">
                    <h6 class="title-subw3hny mb-1">About Us</h6>
                    <!-- <h3 class="title-w3l">The best sol </h3> -->
                </div>
            </div>
            
        </div>
        <!--//row-1-->
        <div class="row pt-md-0 pt-5">
            <div class="col-md-6">
                <div class="abw3-info">
                    <img src="../../../../assets/images/banner5.jpg" alt="" class="img-fluid radius-image">
                    <h3 class="title-w3l mt-4 mb-2"><a href="/about/why-bdo">Why BDO</a></h3>
                    <p class="">
                        In today’s business environment, being competitive is essential for business success. As your business partner we work with you to ensure your business outshines your competitors’. We give sound, uncomplicated advice - We keep it simple by cutting through the jargon to provide meaningful advice that is relevant to the situation you may face.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <div class="abw3-info">
                    <img src="../../../../assets/images/banner1.jpg" alt="" class="img-fluid radius-image">
                    <h3 class="title-w3l mt-4 mb-2"><a href="/about/people-value">People and Culture</a></h3>
                    <p class="">
                        We have 12 highly experienced partners and directors, over 80 Professional staff and well over 45 Trainee staff (all university graduates). Our highly experienced Partners, Directors and Managers direct our commitment to create unlimited growth by giving our people continuous opportunities and our client's unparalleled support. We also give Opportunities to undergraduates to work with us during their internship thus introducing them to the Audit and Business world. Our Core Values represent the principles we are committed to. They define what we stand for as a firm, and are there to guide us in our day-to-day work and decisions.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="abw3-info">
                    <img src="../../../../assets/images/banner2.jpg" alt="" class="img-fluid radius-image">
                    <h3 class="title-w3l mt-4 mb-2"><a href="/about/our-alumni">Our Alumni</a></h3>
                    <p class="">
                        Our alumni programme provides a forum to reconnect with friends and former colleagues, gain access to industry intelligence and training opportunities, and find out the latest news, both within the firm and across the alumni community.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="abw3-info">
                    <img src="../../../../assets/images/banner3.jpg" alt="" class="img-fluid radius-image">
                    <h3 class="title-w3l mt-4 mb-2"><a href="/about/corporate-profile">Corporate Profile</a></h3>
                    <p class="">
                        BDO Nigeria is a member firm of BDO International and maintains the same high standards that the global body is known for. Its roots trace back to Coopers & Lybrand, where the local firm Oyediran, Faleye, Oke & Co operated as a parallel indigenous practice with Coopers & Lybrand. However, Oyediran, Faleye, Oke & Co was severed from the umbilical cord binding it to Coopers & Lybrand, effective from July 1, 1998, following the global merger of Coopers & Lybrand with Price Waterhouse. Consequently, Oyediran, Faleye, Oke & Co joined BDO International B.V.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--//bottom-3-grids-->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->
     
    </div>
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->
     
    </div>

<!-- About Us Page Ends -->