h3 a {
    text-decoration: none;
    color: #254C7F;
    transition: color 0.3s ease, transform 0.3s ease, border-bottom 0.3s ease;
}

h3 a:hover {
    color: #1A3B66; /* Slightly darker color on hover */
    transform: scale(1.1);
    border-bottom: 2px solid #1A3B66; /* Underline effect on hover */
}
