<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">
            BDO Nigeria - Tax Bulletin on Finance Act 2020
          </h2>
          <!-- <p class="inner-page-para mt-2">
              The Unique Solutions for Your Business
            </p> -->
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/services" style="text-decoration: none; color: white"
                >Services</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax"
                style="text-decoration: none; color: white"
                >Tax</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2020"
                style="text-decoration: none; color: white"
                >BDO Nigeria - Tax Bulletin on Finance Act 2020</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                            <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                        </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">
              BDO Nigeria - Tax Bulletin on Finance Act 20
            </h2>
            <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                  Why BDO Consulting?
                </h4> -->
            <p class="mb-4">
              Finance Act, 2020 (the ‘Act’) signed into law on 31 December 2020,
              which took effect from 1st January 2021 or as specified in the
              Act, is in furtherance of government’s objective of amending
              existing laws to drive the fiscal policies contained in the annual
              budget. The Act introduced amendments to the following extant
              Acts:
            </p>

            <ul class="bullet-points mt-4">
              <li><span class="fas fa-flag"></span> Capital Gains Tax Act</li>
              <li>
                <span class="fas fa-check-circle"></span> Companies Income Tax
                Act
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Personal Income Tax
                Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Customs & Excise
                Tariff etc (Consolidated) Act
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Value Added Tax Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Nigeria Export
                Processing Zone Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Oil and Gas Export
                Free Zone Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Industrial Development
                (Income Tax Relief) Act
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Stamp Duties Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Tertiary Education
                Trust Fund (Establishment) Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Federal Inland Revenue
                Service (Establishment) Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Fiscal
                Responsibilities Act
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Public Procurement Act
              </li>
            </ul> <br> <br>

            <p class="mb-4">
              For a full summary and highlights, please download the publication
              from the link hereunder: <br> <br>

              <a href="">Tax-Bulletin-on-Finance-Act-2020.pdf</a>
            </p>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-widget">
              <h1>Our Area</h1>
              <ul class="sidebar-updates">
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2019"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2019</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2020"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2020</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/federal-tax-matters"
                    >Federal Tax Matters</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/payroll-services">Payroll Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-advisory-services"
                    >Tax Advisory Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-compliance-services"
                    >Tax Compliance Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-due-diligence">Tax Due Diligence</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <!-- Sidebar Content -->
      </div>
    </div>
  </div>
</section>
