<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Forensic & Integrity Services</h2>
            <p class="inner-page-para mt-2">
              The Unique Solutions for Your Business
            </p>
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/services" style="text-decoration: none; color: white"
                  >Services</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/services/audit-assurance"
                  style="text-decoration: none; color: white"
                  >Audit & Assurance</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/services/audit-assurance/forensic-integrity"
                  style="text-decoration: none; color: white"
                  >Forensic & Integrity Services</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                            <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                        </div> -->
            <div class="blog-content">
              <!-- Forensic & Integrity Services -->
            <h4
            class="post-content-title mb-3"
            style="font-size: 20px; color: black"
          >
            Forensic and Integrity Services
          </h4>
          <p class="mb-4">
            Investigating financial discrepancies, and fraud, and providing
            litigation support services. We conduct forensic audits, and fraud
            investigations, and provide expert witness services to support
            legal proceedings.
          </p>
          <!-- List -->
          <ul class="bullet-points mt-4">
            <li><span class="fas fa-flag"></span>Fraud Investigation</li>
            <li><span class="fas fa-check-circle"></span> Forensic Audits</li>

            <li>
              <span class="fas fa-check-circle"></span> Litigation Support
            </li>
            <li><span class="fas fa-check-circle"></span> Asset Tracing</li>
            <li>
              <span class="fas fa-check-circle"></span> Expert Witness
              Testimony
            </li>
          </ul>
          <!-- Forensic & Integrity Services -->
            </div>
          </div>
          <!-- Sidebar -->
          <div class="col-lg-4 blog-w3hny-right ps-lg-5">
            <aside class="sidebar">
              <!-- Sidebar Content -->
             <app-audit-sidebar></app-audit-sidebar>
            </aside>
          </div>
  
          <!-- Sidebar Content -->
        </div>
      </div>
    </div>
  </section>
  