<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Audit & Advisory</h2>
          <p class="inner-page-para mt-2">
            The Unique Solutions for Your Business
          </p>
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/services" style="text-decoration: none; color: white"
                >Services</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/audit-assurance"
                style="text-decoration: none; color: white"
                >Audit & Assurance</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                          <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                      </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">Audit & Assurance</h2>
            <h4 class="post-content-title mb-3" style="font-size: 20px">
              Audit & Assurance
            </h4>
            <p class="mb-4">
              In a rapidly evolving business and regulatory environment, the
              right guidance is more important than ever.
            </p>
            <p class="mb-4">
              The BDO audit approach is applied consistently across the network
              through the use of the BDO Audit Manual, a core technical document
              that complies fully with international auditing standards. BDO
              Nigeria adds relevant guidance to address the national statutory
              and professional requirements.
            </p>

            <p class="mb-4">
              Auditing is not a static process and we recognize the need to
              offer our clients the best possible range of compliance and
              advisory services and we therefore ensure the continual
              development and enhancement of our range of audit tools.
            </p>

            <p class="mb-4">
              BDO’s methodologies, tools and guidance are developed with our
              clients in mind and promptly reflect external developments The BDO
              audit approach is thus based upon an extensively researched common
              methodology that centers around:
            </p>

            <ul class="bullet-points mt-4">
              <li>
                <span class="fas fa-flag"></span> Obtaining an understanding of
                the business being audited from an internal and external point
                of view
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Assessing the risk of
                material misstatements, and the controls in place to address
                prevent these risks
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Choosing appropriate
                procedures to obtain evidence of the significant financial
                statement assertions
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Ensuring rigorous
                quality control over audit performance In a world of increasing
                technical requirements, BDO is committed to keeping our clients
                one step ahead.
              </li>
            </ul>

            <p class="mb-4">
              A BDO audit lends credibility to a client’s financial statements
              and our auditors bring more to an assignment than a mere ticking
              of the boxes. Through our global network, they enjoy access to
              knowledge of industry developments and international trends and
              this gives them intrinsic awareness of the global marketplace, as
              well as required local standards. Our team will meet with you
              before work commences and ask many questions in order to really
              get under the skin of your business and understand it fully. You
              can be sure that adequate resources and training exist for
              information systems support.
            </p>
          </div>
        </div>
        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-widget">
              <h1>Our Area</h1>
              <ul class="sidebar-updates">
                <li>
                  <a href="/services/audit-assurance/accounting-advisory">Accounting Advisory Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/audit-assurance/agreed-upon">Agreed Upon Procedures</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <!-- <li>
                  <a href="services/audit-assurance/featured-insights">Featured Insights  </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li> -->
                <li>
                  <a href="/services/audit-assurance/financial-statement">Financial Statement Audits</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="services/audit-assurance/international-financial">International Financial Reporting Standards</a><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
              </ul>
            </div>
          </aside>
        </div>

        <!-- Sidebar Content -->
      </div>

      <!-- Custom Card Section Start-->
      <div
        class="card-container"
        style="margin-top: 25px; border-radius: 10px !important"
      >
        <div class="custom-card">
          <div class="card-body">
            <h3 class="card-title">Advisory</h3>
            <p class="card-text">
              BDO Consulting provides high-level strategic guidance to clients
              when the stakes – and the scrutiny – are highest. With deep
              industry experience and the resources of one of the world’s
              largest accounting and consulting networks, our professionals
              provide a range of litigation, investigation, restructuring,
              valuation, and risk advisory services.
            </p>
            <a href="/services/advisory" class="read-more-link">Read more</a>
          </div>
        </div>

        <div class="custom-card">
          <div class="card-body">
            <h3 class="card-title">Tax Services</h3>
            <p class="card-text">
              At BDO Professional Services, our tax practice is structured into
              specialized teams that provide diverse tax compliance and advisory
              services operating in all the major sectors of the economy. By
              staying abreast of developments and frequently changing rules, we
              ensure that you have a clear and full understanding, enabling you
              to make the right decisions with confidence. Our tax practice has
              developed a total tax management capability that encompasses the
              entire spectrum of Corporate Income Tax, Indirect Taxes (VAT),
              Personal Income Tax and Withholding tax Management.
            </p>
            <a href="/services/tax" class="read-more-link">Read more</a>
          </div>
        </div>
      </div>
      <!-- Custom Card Stop -->
    </div>
  </div>
</section>
