<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Excel in the Age of Big Data</h2>
          <!-- <p class="inner-page-para mt-2">
                The Unique Solutions for Your Business
              </p> -->
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/insights" style="text-decoration: none; color: white"
                >Insights</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/insights/excel-in-age-of-big-data"
                style="text-decoration: none; color: white"
                >Excel</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                              <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                          </div> -->
          <div class="blog-content">
            <!-- <h2 class="post-content-title mb-3">
                ONE ORGANIZATION - GLOBALLY CONNECTED
              </h2> -->
            <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                    Why BDO Consulting?
                  </h4> -->
            <p class="mb-4">
              Microsoft Excel is the most ubiquitous software, with over 750
              million users worldwide. Excel is not only a spreadsheet; it's a
              powerful tool for data modeling, data shaping, and data
              visualization. Hence, being proficient with MS Excel is absolutely
              vital to your efficiency at work, your competitiveness, and your
              confidence in handling and resolving complex business problems.
              You know how it feels when you are the go-to person who does crazy
              things with Excel!
            </p>

            <p class="mb-4">
                At BDO, working with many clients over the years has revealed to us that although there are many users of Excel, only a few are adept with the use of the powerful software. To bridge this knowledge and competency gap, we have launched a series of Excel trainings tagged "Excel in a World of Big Data" under the LEARN WITH BDO training umbrella.
            </p>

            <p class="mb-4">
                This being the first of this series, it would incorporate some basic concepts to get other "not-so-proficient" participants up to speed; however, there are lots of "fun stuff" and interesting concepts to be covered. For the sake of emphasis, this module is to bring our new and basic Excel users up to speed before launching forth into more advanced concepts.

            </p>

            <p class="mb-4">
                We wish to meet you. Kindly complete the below form so we can get to know you better even before the start of the training. Also, please do well to inform your friends and colleagues of this opportunity so they can also take advantage of it. 

            </p>

            <p class="mb-4">
                This training is being sponsored and hosted by BDO Professional Services, a global accountancy and business advisory firm. We operate in 154 countries, with 64,500 people working out of 1,400 offices worldwide. At BDO, business is personal. Developing strong, personal relationships is at the forefront of our service approach, and the fact that many of our clients are long-standing is not by accident.
            </p>

            <div class="blog-content">
                <span><h3>TRAINING REQUIREMENTS</h3></span>
                <span>1. A computer with MS Excel installed</span>
                <span>2. A stable internet connection</span>
                <span>3. Installed Microsoft Teams</span>
                <span>4. Computer literacy</span> <br> <br> <br>
                <span>Register here: <a href="https://lnkd.in/dJ8w8eq7">https://lnkd.in/dJ8w8eq7</a> </span>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
