<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Tax Compliance Services</h2>
          <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/services" style="text-decoration: none; color: white"
                >Services</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax"
                style="text-decoration: none; color: white"
                >Tax</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax/tax-compliance-services"
                style="text-decoration: none; color: white"
                >Tax Compliance Services</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">Tax Compliance Services</h2>
            <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
            <p class="mb-4">
              Our corporate tax specialists advise on complex compliance on a
              daily basis, ensuring our clients are compliant with tax laws but
              also maximising the claims and reliefs available to them. We take
              care of your corporate tax compliance work – allowing you to focus
              on your core business.
            </p>

            <p class="mb-4">
                We can help you through our tax compliance services, which typically include:
            </p>
            <ul class="bullet-points mt-4">
              <li>
                <span class="fas fa-flag"></span> Registration of the Company with the Federal Inland Revenue Service (FIRS)
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Preparation and filing of the Company’s annual  companies income tax returns with the FIRS
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Assisting to file annual transfer pricing return
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Processing and obtaining of Tax Clearance Certificate (TCC) for the Company
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Preparing and filing of the Company’s monthly VAT returns with the relevant local VAT office
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Assisting to remit withholding tax (WHT) deducted from the suppliers’ invoices and following up with the with the tax authority to obtain receipts
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Liaising with the Revenue to resolve queries and issues relating to all tax issues, if any
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Registering the Company and its employee with the relevant State Internal Revenue Service, National Social Insurance Trust Fund (NSITF), National Housing Fund (NHF) and Industrial Training Fund (ITF).
              </li>
                <li>
                <span class="fas fa-check-circle"></span> Computation of employee tax  (PAYE) and NHF Contribution
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Remittance of monthly PAYE and NHF to the appropriate tax authorities
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Representing the Company at tax audit conducted by FIRS and State internal Revenue Service and resolving issues that may arise there from
              </li>
            </ul>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-widget">
              <h1>Our Area</h1>
              <ul class="sidebar-updates">
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2019"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2019</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2020"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2020</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/federal-tax-matters"
                    >Federal Tax Matters</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/payroll-services">Payroll Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-advisory-services"
                    >Tax Advisory Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-compliance-services"
                    >Tax Compliance Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-due-diligence">Tax Due Diligence</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <!-- Sidebar Content -->
      </div>
    </div>
  </div>
</section>
