<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">BDO Nigeria - Tax Bulletin on Finance Act 2019</h2>
            <!-- <p class="inner-page-para mt-2">
              The Unique Solutions for Your Business
            </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/services" style="text-decoration: none; color: white"
                  >Services</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/services/tax"
                  style="text-decoration: none; color: white"
                  >Tax</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2019"
                  style="text-decoration: none; color: white"
                  >BDO Nigeria - Tax Bulletin on Finance Act 2019</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                            <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                        </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">
                BDO Nigeria - Tax Bulletin on Finance Act 2019
              </h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                  Why BDO Consulting?
                </h4> -->
              <p class="mb-4">
                The Finance Bill, 2019, which was passed by the National Assembly late 2019 was signed into law by the President, Muhammadu Buhari, GCFR, on 13 January 2020.
              </p>
              <p class="mb-4">
                The Act introduces measures aimed at promoting fiscal equity, introducing new tax incentives, supporting small businesses and raising revenues for government, by increase in the rate of VAT from 5% to 7.5%, and widening of tax net through proper taxation of profit on income generated within Nigerian territory from services rendered outside the country.  In order to support rapid growth of the Small and Medium Scale Enterprises (SMEs), small companies would now be exempted from tax while medium-sized companies would be taxed at a reduced rate of 20%.  The Act also contains provisions for tax waivers and incentives aimed at encouraging mergers and acquisition, investment in Real Estate Sector and capital market operations.  Some of the existing tax provisions were either modified or deleted to align Nigerian tax systems with global best practices.
              </p>
  
              <p class="mb-4">
                The Act contains amendments to the following existing Acts. <br>
                • Companies income Tax Act <br>
                • Value Added Tax Act <br>
                • Capital Gains Tax  <br>
                • Personal Income Tax Act <br>
                • Petroleum Profit Tax Act <br>
                • Stamp Duties Act <br>
                • Customs and Excise Tariff  Etc.(Consolidated) Act <br> <br>

                
                For a full summary and highlights, please download the publication from the link hereunder: <br> <br>
                <a href="">BDO-Nigeria-Tax-Bulletin-on-Finance-Act-2019.pdf</a>
              </p>
            </div>
          </div>
         
        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
            <aside class="sidebar">
              <!-- Sidebar Content -->
              <div class="sidebar-widget">
                <h1>Our Area</h1>
                <ul class="sidebar-updates">
                  <li>
                    <a
                      href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2019"
                      >BDO Nigeria - Tax Bulletin on Finance Act 2019</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                  <li>
                    <a
                      href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2020"
                      >BDO Nigeria - Tax Bulletin on Finance Act 2020</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                  <li>
                    <a href="/services/tax/federal-tax-matters"
                      >Federal Tax Matters</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                  <li>
                    <a href="/services/tax/payroll-services">Payroll Services</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                  <li>
                    <a href="/services/tax/tax-advisory-services"
                      >Tax Advisory Services</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                  <li>
                    <a href="/services/tax/tax-compliance-services"
                      >Tax Compliance Services</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                  <li>
                    <a href="/services/tax/tax-due-diligence">Tax Due Diligence</a
                    ><span><i class="fa-solid fa-angle-right"></i></span>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
          <!-- Sidebar Content -->
        </div>
      </div>
    </div>
  </section>
  