<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title">
                        Insights </h2>
                    <p class="inner-page-para mt-2">
                        The Unique Solutions
                        for Your Business</p>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/home">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Insights</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<!--//inner-page-->



<!--Insights Section Starts-->
<div class="w3l-3-grids py-5" id="grids-3">
    <div class="container py-md-5 py-2">
        <!--/row-1-->
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="w3title-header text-center">
                <h6 class="title-subw3hny">INSIGHTS</h6>
                <!-- <h2 class="title-w3l" style="font-size: 20px!important; color: #244B7E;">
                    know what you are looking for? We've created the BDO library as a "go to" source...

                </h2> -->
            </div>
        </div>
        <!--//row-1-->
        <div class="row w3l-blogpost-content">
            <!-- Row 1 Start -->
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="../../../../../assets/images/Strategic Workforce Planning_ The Complete Guide.jpeg" alt="blog-img">
                        </a>
                    </div>
                    <div class="card-body blog-details">
                        <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                            <p>PUBLICATION</p>
                        </div>
                        <a href="/insights" class="blog-desc">
                            Unravelling the Essence of Risk Adjustments in IFRS 17    
                        </a>
                    </div>
                    <div class="card-footer">
                        <div class="author align-items-center">
                            <a href="/insights" class="post-author">
                                <!-- <img src="../../../assets/images/team1.jpg" alt="" class="img-fluid rounded-circle"> -->
                            </a>
                            <!-- <ul class="blog-meta">
                                <li>
                                    <span class="meta-value"></span><a href="/insights"> Read More</a>
                                </li>
                            </ul> -->
                            <div class="date">
                                <p>31 AUGUST, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 1 Ends -->
        
            <!-- Row 2 starts -->
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="../../../../../assets/images/silos.jpeg" alt="blog-img">
                        </a>
                    </div>
                    <div class="card-body blog-details">
                        <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                            <p>PUBLICATION</p>
                        </div>
                        <a href="/insights" class="blog-desc">
                            Breaking Data Silos - Overcoming the Paradox of Analytics
                        </a>
                    </div>
                    <div class="card-footer">
                        <div class="author align-items-center">
                            <a href="/insights" class="post-author">
                                <!-- <img src="../../../assets/images/team2.jpg" alt="" class="img-fluid rounded-circle"> -->
                            </a>
                            <!-- <ul class="blog-meta">
                                <li>
                                    <span class="meta-value"></span><a href="/insights"> Read More</a>
                                </li>
                            </ul> -->
                            <div class="date">
                                <p>11 JUNE, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 2 Ends -->
        
            <!-- Row 3 Starts -->
            <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="/insights" class="zoom d-block">
                            <img class="card-img-bottom d-block" src="../../../assets/images/g4.jpg"
                                alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body blog-details">
                        <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                            <p>ARTICLE</p>
                        </div>
                        <a href="/insights" class="blog-desc">
                            Excel in Age of Big Data
                        </a>
                    </div>
                    <div class="card-footer">
                        <div class="author align-items-center">
                             <a href="/insights" class="post-author">
                                <!-- <img src="../../../assets/images/team3.jpg" alt="" class="img-fluid rounded-circle"> -->
                            </a>
                            <!-- <ul class="blog-meta"> -->
                                <!-- <li>
                                    <span class="meta-value"></span><a href="/insights">Read More</a>
                                </li>
                            </ul> -->
                            <div class="date">
                                <p>17 MAY, 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 3 Ends -->
        </div>
    </div>
</div>
<!--Insights Section Ends-->

