<!-- Sidebar Content -->
<div class="sidebar-widget">
    <h1>Our Area</h1>
    <ul class="sidebar-updates">
      <li>
        <a href="/services/advisory/corporate-finance"> Corporate Finance </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/corporate-secretarial">Corporate Secretarial </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/corporate-strategy">Corporate Strategy & Business Development </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/due-diligence-work">Due Diligence Work </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/export-development" >Export Development </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/human-capital-management">Human Capital Management </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/management-systems">Management Systems & Services </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/performance-improvement">Performance Improvement  </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/planning-policy">Planning & Policy Formulation</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/business-finance">Business Finance</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/transaction-advisory">Transaction Advisory</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/risk-management">Risk Management</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/wealth-management">Wealth Management</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/advisory/retirement-pension">Retirement & Pension</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
    </ul>
  </div>