<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">
             Global Network
            </h2>
            <!-- <p class="inner-page-para mt-2">
                The Unique Solutions for Your Business
              </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/about" style="text-decoration: none; color: white"
                  >About</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/about/global-network"
                  style="text-decoration: none; color: white"
                  >Global Network</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                              <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                          </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">
                ONE ORGANIZATION - GLOBALLY CONNECTED
              </h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                    Why BDO Consulting?
                  </h4> -->
              <p class="mb-4">
                BDO’s global organisation extends across 164 countries and territories, with 111,307 people working out of 1,803 offices – and they’re all working towards one goal: to provide our clients with exceptional service.
              </p>

              <p class="mb-4">
                Our firms across the organization cooperate closely and comply with consistent operating principles and quality standards. That means local resources who understand your business, your local and international markets and the specifics of your industry: all backed by a truly global organisation.
              </p>

              <p class="mb-4">
                The fee income of all BDO firms, including the members of their exclusive alliances, was US$12.8 billion as of 30 September 2022.

              </p>

              <h4>EXCEPTIONAL CLIENT SERVICE, DELIVERED ACROSS THE WORLD</h4>

              <p class="mb-4">
                BDO’s vision is to be the leader for exceptional client service. This is not about reinventing our profession’s approach to service, but about delivering our services exceptionally well – and delivering that high quality consistently in every office, every country and every territory where we have a presence. No matter where you do business, we have people who can help.
              </p>

              <p class="mb-4">
                We demonstrate our objectivity and independence when dealing with our clients’ business issues, and this helps us to build relationships based on trust. There are ﬁve key components that describe BDO and our consistently exceptional service delivery:

              </p>
  
              <ul class="bullet-points mt-4">
                <li><span class="fas fa-flag"></span> CLIENT NEEDS: we anticipate our clients’ needs and are forthright in our views, in order to ensure the best outcome for you</li>
                <li>
                  <span class="fas fa-check-circle"></span> COMMUNICATION: we are always clear, open & swift in our communication
                </li>
  
                <li>
                  <span class="fas fa-check-circle"></span> COMMITMENT: we agree to and meet our commitments, meaning that we deliver what we promise, every day, for every client
                </li>
                <li>
                  <span class="fas fa-check-circle"></span> PEOPLE: at BDO we are proud to provide the right environment for our people to grow and develop – but also the right people to deliver for our clients
                </li>
  
                <li>
                  <span class="fas fa-check-circle"></span> VALUE: Our experts focus on creating value: we give our clients up to date ideas and valuable insights and advice that they can trust
                </li>
              </ul>
  
              <p class="mb-4">
                We are a global organization built on local relationship.
              </p>

              <p class="mb-4">
                <h4>OUR GLOBAL COMMITMENT TO EXCEPTIONAL CLIENT SERVICE MEANS THAT WE DELIVER WHAT WE PROMISE, WHEN YOU NEED IT</h4>

                <p class="mb-4">
                    We are the most agile and responsive of the global accounting organizations.
                </p>

              <p class="mb-4">
                We’re big enough to be able to access the best group of experts for your needs from our national and international network, and we’re small enough to be responsive and innovative in how we tackle our clients’ challenges. We can provide the perfect contact for your needs,  no matter where in the world you are.

 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  