<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Payroll Services</h2>
          <!-- <p class="inner-page-para mt-2">
                The Unique Solutions for Your Business
              </p> -->
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/services" style="text-decoration: none; color: white"
                >Services</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax"
                style="text-decoration: none; color: white"
                >Tax</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax/payroll-services"
                style="text-decoration: none; color: white"
                >Payroll Services</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                              <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                          </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">Payroll Services</h2>
            <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                    Why BDO Consulting?
                  </h4> -->
            <p class="mb-4">
              As one of the top payroll providers in Nigeria, we understand how
              important it is for your organisation to ensure error-free payroll
              management activities. With our extensive range of services, your
              organization can enjoy payroll process which is timely and
              accurate. We provide comprehensive yet flexible payroll services
              tailored to each of our client’s specific requirement.
            </p>

            <p class="mb-4">
              By outsourcing your payroll to us, we become an integral part of
              your business by moulding your payroll to suit you and dedicating
              our efforts on your payroll so you can free up your valuable time
              to concentrate on the important business of running your company.
            </p>

            <p class="mb-4">
              Our approach to providing payroll services is stated below:
            </p>
            <ul class="bullet-points mt-4">
              <li>
                <span class="fas fa-flag"></span>Agree a timetable on payroll
                calculations with client
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Obtain full details of
                the staff salary structure and other employee information
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Carry out Payroll set
                up
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Monthly payroll
                details are to be provided by client as per the timetable
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Provision of
                information on payroll changes by the client
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Payroll calculation
                would be based on the details we receive and the provisions of
                the relevant tax laws
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Ensure that the
                deadline for the submission of the payroll to client is met
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Confidentiality of
                payroll information to be maintained
              </li>
            </ul>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-widget">
              <h1>Our Area</h1>
              <ul class="sidebar-updates">
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2019"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2019</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2020"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2020</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/federal-tax-matters"
                    >Federal Tax Matters</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/payroll-services">Payroll Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-advisory-services"
                    >Tax Advisory Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-compliance-services"
                    >Tax Compliance Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-due-diligence">Tax Due Diligence</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <!-- Sidebar Content -->
      </div>
    </div>
  </div>
</section>
