a{
    color: #254C7F;
}
.card{
    color: #254C7F;
    transition: .5s ease-in-out;
}
.card:hover{
    box-shadow: 4px 4px 10px #011939;
}
.blog-meta a{
    color: #254C7F;
}

.blog-meta a:hover{
    color: #011939;
}