<div class="row w3l-blogpost-content">
    <!-- Row 1 Start -->
    <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
        <div class="card">
            <div class="card-header p-0 position-relative">
                <a href="" class="zoom d-block">
                    <img class="card-img-bottom d-block" src="../../../../../assets/images/Strategic Workforce Planning_ The Complete Guide.jpeg" alt="blog-img">
                </a>
            </div>
            <div class="card-body blog-details">
                <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                    <p>PUBLICATION</p>
                </div>
                <a href="/insights/breaking-data-silos-overcoming-the-paradox-of-analytics" class="blog-desc">
                    Unravelling the Essence of Risk Adjustments in IFRS 17    
                </a>
            </div>
            <div class="card-footer">
                <div class="author align-items-center">
                    <a href="/insights/breaking-data-silos-overcoming-the-paradox-of-analytics" class="post-author">
                        <!-- <img src="../../../assets/images/team1.jpg" alt="" class="img-fluid rounded-circle"> -->
                    </a>
                    <ul class="blog-meta">
                        <li>
                            <span class="meta-value"></span><a href="/insights/breaking-data-silos-overcoming-the-paradox-of-analytics"> Read More</a>
                        </li>
                    </ul>
                    <div class="date">
                        <p>31 AUGUST, 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row 1 Ends -->

    <!-- Row 2 starts -->
    <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
        <div class="card">
            <div class="card-header p-0 position-relative">
                <a href="" class="zoom d-block">
                    <img class="card-img-bottom d-block" src="../../../../../assets/images/silos.jpeg" alt="blog-img">
                </a>
            </div>
            <div class="card-body blog-details">
                <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                    <p>PUBLICATION</p>
                </div>
                <a href="/insights/breaking-data-silos-overcoming-the-paradox-of-analytics" class="blog-desc">
                    Breaking Data Silos - Overcoming the Paradox of Analytics
                </a>
            </div>
            <div class="card-footer">
                <div class="author align-items-center">
                    <a href="/insights/breaking-data-silos-overcoming-the-paradox-of-analytics" class="post-author">
                        <!-- <img src="../../../assets/images/team2.jpg" alt="" class="img-fluid rounded-circle"> -->
                    </a>
                    <ul class="blog-meta">
                        <li>
                            <span class="meta-value"></span><a href="/insights/breaking-data-silos-overcoming-the-paradox-of-analytics"> Read More</a>
                        </li>
                    </ul>
                    <div class="date">
                        <p>11 JUNE, 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row 2 Ends -->

    <!-- Row 3 Starts -->
    <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
        <div class="card">
            <div class="card-header p-0 position-relative">
                <a href="/insights/excel-in-age-of-big-data" class="zoom d-block">
                    <img class="card-img-bottom d-block" src="../../../assets/images/g4.jpg"
                        alt="Card image cap">
                </a>
            </div>
            <div class="card-body blog-details">
                <div class="price-review d-flex justify-content-between mb-1 align-items-center">
                    <p>ARTICLE</p>
                </div>
                <a href="/insights/excel-in-age-of-big-data" class="blog-desc">
                    Excel in Age of Big Data
                </a>
            </div>
            <div class="card-footer">
                <div class="author align-items-center">
                     <a href="/insights/excel-in-age-of-big-data" class="post-author">
                        <!-- <img src="../../../assets/images/team3.jpg" alt="" class="img-fluid rounded-circle"> -->
                    </a>
                    <ul class="blog-meta">
                        <li>
                            <span class="meta-value"></span><a href="/insights/excel-in-age-of-big-data">Read More</a>
                        </li>
                    </ul>
                    <div class="date">
                        <p>17 MAY, 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row 3 Ends -->
</div>