<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Healthcare</h2>
            <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/industries" style="text-decoration: none; color: white"
                  >Industries</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/industries/healthcare"
                  style="text-decoration: none; color: white"
                  >Healthcare</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">Healthcare</h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
              <p class="mb-4">
                Health systems around the world have the same objective: to finance and deliver the highest possible quality of care to the maximum number of people at the lowest possible cost.
              </p>
  
              <p class="mb-4">
                BDO provides audit and accounting services to healthcare entities ranging in size from small physician practices and ancillary providers to multi-state integrated healthcare organizations.  This experience across the spectrum of healthcare allows our auditors to quickly identify the financial reporting areas of greatest risk to your organization and to more efficiently and effectively perform audit or/and accounting services.
              </p>

              <p class="mb-4">
                Our healthcare audit teams are structured to allow our senior executives more time with our clients in order to provide the “hands on” experience and oversight. We work closely with clients to seek the most efficient route to affect change for providers, payers, and investors, and leverage our extensive network to connect clients with the right sources of capital to fuel transactions.  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  