
      <!-- Custom Card Section Start-->
      <div class="card-container" style="margin-top: 25px; border-radius: 10px !important;">
        <div class="custom-card">
          <div class="card-body">
            <h3 class="card-title">Audit & Assurance</h3>
            <p class="card-text">
              In a rapidly evolving business and regulatory environment, the
              right guidance is more important than ever. The KWAMU audit approach
              is applied consistently across the network through the use of the
              KWAMU Audit Manual, a core technical document that complies fully
              with international auditing standards. KWAMU Nigeria adds relevant
              guidance to address the national statutory and professional
              requirements. Auditing is not a static process and we recognize
              the need to offer our clients the best possible range of
              compliance and advisory services and we therefore ensure the
              continual development and enhancement of our range of audit tools.
              KWAMU’s methodologies
            </p>
            <a href="/services/audit-assurance" class="read-more-link">Read more</a>
          </div>
        </div>

        <div class="custom-card">
          <div class="card-body">
            <h3 class="card-title">Tax Services</h3>
            <p class="card-text">
              At KWAMU Professional Services, our tax practice is structured into
              specialized teams that provide diverse tax compliance and advisory
              services operating in all the major sectors of the economy. By
              staying abreast of developments and frequently changing rules, we
              ensure that you have a clear and full understanding, enabling you
              to make the right decisions with confidence. Our tax practice has
              developed a total tax management capability that encompasses the
              entire spectrum of Corporate Income Tax, Indirect Taxes (VAT),
              Personal Income Tax and Withholding tax Management.
            </p>
            <a href="/services/tax" class="read-more-link">Read more</a>
          </div>
        </div>

        <!-- Custom Card Stop -->