<div class="sidebar-widget">
    <h1>Our Area</h1>
    <ul class="sidebar-updates">
      <li>
        <a href="/services/audit-assurance/accounting-advisory"
          >Accounting Advisory Services</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/audit-assurance/special-purpose-audit"
          >Special Purpose Audit</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="services/audit-assurance/private-client-audit">
          Private Client Audit </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/audit-assurance/statutory-audit"
          >Statutory Audits</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/audit-assurance/performance-audit"
          >Performance Audit </a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/audit-assurance/forensic-integrity"
          >Forensic & Integrity Services</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/audit-assurance/value-for-money"
          >Value For Money</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="services/audit-assurance/international-financial"
          >International Financial Reporting Standards</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
    </ul>
  </div>