<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Asset Management</h2>
          <!-- <p class="inner-page-para mt-2">
                The Unique Solutions for Your Business
              </p> -->
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/industries" style="text-decoration: none; color: white"
                >Industries</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/industries/financial-services"
                style="text-decoration: none; color: white"
                >Financial Services</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/industries/financial-services"
                style="text-decoration: none; color: white"
                >Asset Management</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                              <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                          </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">Asset Management</h2>
            <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                    Why BDO Consulting?
                  </h4> -->
            <p class="mb-4">
              Financial reform and complex legislation have changed the way
              financial services companies do business. Previously unregulated
              practices are now under the scrutiny of state and federal
              entities, and the impact of Dodd-Frank continues to affect many
              segments of the financial services industry. KWAMU Asset Management
              professionals understand the implications of these heightened
              pronouncements and regulations, helping clients to navigate this
              increasingly complex landscape.
            </p>

            <p class="mb-4">
              Through assurance, tax, financial advisory, and consulting
              services, KWAMU guides private and public entities in the U.S. and
              abroad through every phase of their development – from formation
              to full-scale operation serving the needs across:
            </p>

            <ul class="bullet-points mt-4">
              <li><span class="fas fa-flag"></span> Hedge Funds</li>
              <li>
                <span class="fas fa-check-circle"></span> Private Equity Funds
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Alternative Funds
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Funds of Funds
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Regulated Funds
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
