<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Advisory</h2>
          <p class="inner-page-para mt-2">
            The Unique Solutions for Your Business
          </p>
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span> Services
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span> Advisory
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                        <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                    </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">Advisory</h2>
            <h4 class="post-content-title mb-3" style="font-size: 20px">
              Why BDO Consulting?
            </h4>
            <p class="mb-4">
              BDO Consulting provides high-level strategic guidance to clients
              when the stakes – and the scrutiny – are highest.
            </p>
            <p class="mb-4">
              With deep industry experience and the resources of one of the
              world’s largest accounting and consulting networks, our
              professionals provide a range of litigation, investigation,
              restructuring, valuation, and risk advisory services.
            </p>

            <p class="mb-4">
              Our BDO Management Consulting Limited offers the full range of
              consulting services to our numerous clients in the private and
              public sectors not only in Nigeria, but across other developed
              economy in Africa, Middle East, Europe and Asia. Our management
              consulting services are described below under the following
              headings:
            </p>

            <ul class="bullet-points mt-4">
              <li><span class="fas fa-flag"></span> Corporate Finance</li>
              <li>
                <span class="fas fa-check-circle"></span> Corporate Strategy and
                Business Development
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Due Diligence Work
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Export Development
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Human Capital
                Management
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Management Systems and
                Services
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Performance
                Improvement
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Planning and Policy
                Formulation
              </li>
            </ul>
          </div>
        </div>
        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-widget">
              <h1>Our Area</h1>
              <ul class="sidebar-updates">
                <li>
                  <a href="/services/advisory/corporate-finance"> Corporate Finance </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/corporate-secretarial">Corporate Secretarial </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/corporate-strategy">Corporate Strategy & Business Development </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/due-diligence-work">Due Diligence Work </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/export-development" >Export Development </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/human-capital-management">Human Capital Management </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/management-systems">Management Systems & Services </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/performance-improvement">Performance Improvement  </a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/advisory/planning-policy">Planning & Policy Formulation</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <!-- Sidebar Ends -->
      </div>

      <!-- Custom Card Section Start-->
      <div
        class="card-container"
        style="margin-top: 25px; border-radius: 10px !important"
      >
        <div class="custom-card">
          <div class="card-body">
            <h3 class="card-title">Audit & Assurance</h3>
            <p class="card-text">
              In a rapidly evolving business and regulatory environment, the
              right guidance is more important than ever. The BDO audit approach
              is applied consistently across the network through the use of the
              BDO Audit Manual, a core technical document that complies fully
              with international auditing standards. BDO Nigeria adds relevant
              guidance to address the national statutory and professional
              requirements. Auditing is not a static process and we recognize
              the need to offer our clients the best possible range of
              compliance and advisory services and we therefore ensure the
              continual development and enhancement of our range of audit tools.
              BDO’s methodologies
            </p>
            <a href="/services/audit-assurance" class="read-more-link"
              >Read more</a
            >
          </div>
        </div>

        <div class="custom-card">
          <div class="card-body">
            <h3 class="card-title">Tax Services</h3>
            <p class="card-text">
              At BDO Professional Services, our tax practice is structured into
              specialized teams that provide diverse tax compliance and advisory
              services operating in all the major sectors of the economy. By
              staying abreast of developments and frequently changing rules, we
              ensure that you have a clear and full understanding, enabling you
              to make the right decisions with confidence. Our tax practice has
              developed a total tax management capability that encompasses the
              entire spectrum of Corporate Income Tax, Indirect Taxes (VAT),
              Personal Income Tax and Withholding tax Management.
            </p>
            <a href="/services/tax" class="read-more-link">Read more</a>
          </div>
        </div>

        <!-- Custom Card Ends -->
      </div>
      
    </div>
  </div>
</section>
