<!--/inner-page-->
<div class="inner-banner py-5">
  <section class="w3l-breadcrumb text-left py-sm-5">
    <div class="container">
      <div class="w3breadcrumb-gids">
        <div class="w3breadcrumb-left text-left">
          <h2 class="inner-w3-title">Tax Advisory Services</h2>
          <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
        </div>
        <div class="w3breadcrumb-right">
          <ul class="breadcrumbs-custom-path">
            <li>
              <a href="/home" style="text-decoration: none; color: white"
                >Home</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a href="/services" style="text-decoration: none; color: white"
                >Services</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax"
                style="text-decoration: none; color: white"
                >Tax</a
              >
            </li>
            <li class="active">
              <span class="fas fa-angle-double-right mx-2"></span>
              <a
                href="/services/tax/tax-advisory-services"
                style="text-decoration: none; color: white"
                >Tax Advisory Services</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//inner-page-->

<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
          <div class="blog-content">
            <h2 class="post-content-title mb-3">Tax Advisory Services</h2>
            <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
            <p class="mb-4">
              Maximising tax efficiency and simplicity is no easy task, but our
              corporate tax team can help you develop right approach for your
              business – whatever its size, sector and business. We believe that
              a perfect adviser should have not only vast professional
              expertise, but also experience in business relationship. Our tax
              advisory team is composed of tax experts specialising in corporate
              income tax, personal income tax, withholding tax and VAT. Our
              advisers have in-depth knowledge of the Nigerian and international
              laws with extensive experience in handling all types of
              communication with tax authorities.
            </p>

            <p class="mb-4">
              At BDO Professional Services, we advise clients on a wide range of
              tax business issues, which include the following:
            </p>
            <ul class="bullet-points mt-4">
              <li>
                <span class="fas fa-flag"></span>Review of corporate tax records
                to determine extent of compliance with enabling legislation and
                identify areas of potential exposure
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Rendering advisory
                opinions on VAT and WHT matters
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Provision of advice
                based on hands-on experience, on the tax implication of new
                legislation, transactions and services
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Advising and
                representing clients in tax audit and investigation cases
              </li>

              <li>
                <span class="fas fa-check-circle"></span> Making representations
                to tax authorities for rulings and dispute resolutions
              </li>
              <li>
                <span class="fas fa-check-circle"></span> Tax due diligence for
                merger and acquisitions
              </li>
              <li><span class="fas fa-check-circle"></span> Rendering advisory opinions on transfer pricing structures review
              </li>
            </ul>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-widget">
              <h1>Our Area</h1>
              <ul class="sidebar-updates">
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2019"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2019</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a
                    href="/services/tax/BDO-nigeria-tax-bulletin-on-finance-act-2020"
                    >BDO Nigeria - Tax Bulletin on Finance Act 2020</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/federal-tax-matters"
                    >Federal Tax Matters</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/payroll-services">Payroll Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-advisory-services"
                    >Tax Advisory Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-compliance-services"
                    >Tax Compliance Services</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li>
                  <a href="/services/tax/tax-due-diligence">Tax Due Diligence</a
                  ><span><i class="fa-solid fa-angle-right"></i></span>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <!-- Sidebar Content -->
      </div>
    </div>
  </div>
</section>
