<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Wealth Management</h2>
            <p class="inner-page-para mt-2">
              The Unique Solutions for Your Business
            </p>
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span> <a href="/services" style="text-decoration: none; color: white"
                >Services</a
              >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span> <a href="/services/advisory" style="text-decoration: none; color: white"
                >Advisory</a
              >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span> <a href="/services/advisory/wealth-management" style="text-decoration: none; color: white"
                >Wealth Management</a
              >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->




<section class="w3l-blog bloghny-page">
  <div class="blog py-5" id="Newsblog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="row">
        <!-- Main Content -->
        <div class="col-lg-8 bloghnypage-left blog-single-post">
          <div class="blog-content">
            <!-- Wealth Management -->
            <div class="info-card mb-4">
              <h4 class="post-content-title mb-3">
                Wealth Management
              </h4>
              <p>
                Advising high-net-worth individuals on wealth preservation, investment strategies, and financial growth. Our services include investment planning, portfolio management, estate planning, and tax-efficient wealth strategies.
              </p>
            </div>
            <div class="info-card mb-4">
              <ul class="bullet-points mt-4">
                <li><span class="fas fa-flag"></span> Investment Planning</li>
                <li><span class="fas fa-check-circle"></span> Portfolio Management</li>
                <li><span class="fas fa-check-circle"></span> Estate Planning</li>
                <li><span class="fas fa-check-circle"></span> Tax-Efficient Wealth Strategies</li>
                <li><span class="fas fa-check-circle"></span> Retirement Planning</li>
              </ul>
            </div>
            <!-- Wealth Management Ends -->
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 blog-w3hny-right ps-lg-5">
          <aside class="sidebar">
            <!-- Sidebar Content -->
            <app-sidebar></app-sidebar>
          </aside>
        </div>
        <!-- Sidebar Ends -->
      </div>
    </div>
  </div>
</section>


  