<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">About BDO Nigeria</h2>
            <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/about" style="text-decoration: none; color: white"
                  >About</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/about/about-BDO-nigeria"
                  style="text-decoration: none; color: white"
                  >About BDO Nigeria</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">About BDO Nigeria</h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
              <p class="mb-4">
                The firm of Oyediran Faleye Oke Co was registered to practise as a firm of Chartered Accountants in Nigeria in 1973. The firm which was an associate of Coopers Lybrand was established in response to the Indigenisation Decree promulgated by the Federal Military Government of Nigeria in the early seventies to provide audit, taxation and consultancy services to mainly multinational Companies like the United African Company of Nigeria Plc (UACN), an associated company to Unilever International, Lever Brothers of Nigeria Plc, The Lion of Africa Insurance Company Limited and the UNIC Insurance Plc amongst others. 

              </p>
  
              <p class="mb-4">
                The firm derived its name from the last names of the first 3 (three) indigenous Partners of the firm of Coopers Lybrand, which came to Nigeria for the first time in 1953. The firm was managed as a parallel indigenous practice with the former Coopers Lybrand for the audit, accountancy and tax work of mainly big multinational companies who preferred to use the local name.

              </p>

              <p class="mb-4">
                Oyediran Faleye Oke  & Co was severed from the umbilical cord that bound it with Coopers Lybrand with effect from 1 July 1998, following the merger of the firms of Coopers & Lybrand with Price Waterhouse worldwide. Consequent upon the merger, the firm, Oyediran Faleye Oke Co joined BDO International B.V.
              </p>

              <p class="mb-4">
                On 1st January, 2010 the name of the firm was changed to BDO Professional Services.

              </p>

              <p class="mb-4">
                Our Vision: Global Solutions. Driven to be the best, meaning quality in services rendered to our clients.

              </p>

              <p class="mb-4">
                Our Mission: We provide comprehensive, world class, affordable and value-adding professional assistance to our clients, thereby contributing significantly to the success of our clients.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  