<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Statutory Audit</h2>
            <p class="inner-page-para mt-2">
              The Unique Solutions for Your Business
            </p>
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/services" style="text-decoration: none; color: white"
                  >Services</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/services/audit-assurance"
                  style="text-decoration: none; color: white"
                  >Audit & Assurance</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/services/audit-assurance/Statutory-audit"
                  style="text-decoration: none; color: white"
                  >Statutory Audit</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <!-- Blog Content -->
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <div class="blog-content">
              <!-- Statutory Audits -->
              <div class="info-card mb-4">
                <h4 class="post-content-title mb-3" style="font-size: 20px; color: black;">
                  Statutory Audits
                </h4>
                <p>
                  Delivering independent assessments of financial statements in compliance with applicable regulations. We ensure that financial statements are accurate and reliable, and provide a true and fair view of the company's financial position.
                </p>
              </div>
  
              <!-- Services List -->
              <div class="info-card mb-4">
                <ul class="bullet-points mt-4">
                  <li><span class="fas fa-flag"></span> Statutory Audits</li>
                  <li><span class="fas fa-check-circle"></span> Regulatory Compliances</li>
                  <li><span class="fas fa-check-circle"></span> Consolidated Financial Statements</li>
                  <li><span class="fas fa-check-circle"></span> Audit of Subsidiaries</li>
                  <li><span class="fas fa-check-circle"></span> Financial Reporting Compliance</li>
                </ul>
              </div>
            </div>
          </div>
  
          <!-- Sidebar -->
          <div class="col-lg-4 blog-w3hny-right ps-lg-5">
            <aside class="sidebar">
              <!-- Sidebar Content -->
              <app-audit-sidebar></app-audit-sidebar>
            </aside>
          </div>
          <!-- Sidebar Ends -->
        </div>
      </div>
    </div>
  </section>
  