<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Not for profit</h2>
            <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/industries" style="text-decoration: none; color: white"
                  >Industries</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/industries/not-for-profit"
                  style="text-decoration: none; color: white"
                  >Not for profit</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">Not for profit</h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
              <p class="mb-4">
                Operating in the not-for-profit sector presents many challenges. Change is constant. So too is the pressure to raise funds, the impact of government policy, changing demographics and expectations to deliver more on a daily basis.We understand the commitment and scrutiny within this sector and will work with you to meet these challenges.

              </p>
  
              <p class="mb-4">
                We understand that ‘not-for-profit’ describes a number of different types of organisations, including educational institutions, charities, healthcare, sporting and community clubs, and membership organisations. With this in mind, we provide advice that reflects the nature of your organisation — with your unique needs, challenges and opportunities.


              </p>

              <p class="mb-4">
                By drawing on the experience of our advisers in core service lines, we can provide solutions for not-for-profit companies that tackle key areas of concern and ultimately allow you to become proactive in managing issues. We work with you to understand the factors that drive your organization and how to utilize its effectiveness.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  