<div class="sidebar-widget">
    <h1>Our Area</h1>
    <ul class="sidebar-updates">
      <li>
        <a href="/services/tax/payroll-services">Payroll Services</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-advisory-services"
          >Tax Advisory Services</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-compliance-services"
          >Tax Compliance Services</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-audit-&-investigation-support">Tax Audit</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-intervention-services">Tax Intervention</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/international-tax-services">International Tax Service</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-training">Tax Training</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/transfer-pricing">Transfer Pricing</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-health-check-&-risk-assessment">Tax Health Check</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/tax-incentives-assistance">Tax Incentives</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li>
        <a href="/services/tax/other-compliance">Other Compliance</a
        ><span><i class="fa-solid fa-angle-right"></i></span>
      </li>
    </ul>
  </div>