<!--/inner-page-->
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5">
      <div class="container">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
            <h2 class="inner-w3-title">Natural Resources</h2>
            <!-- <p class="inner-page-para mt-2">
                  The Unique Solutions for Your Business
                </p> -->
          </div>
          <div class="w3breadcrumb-right">
            <ul class="breadcrumbs-custom-path">
              <li>
                <a href="/home" style="text-decoration: none; color: white"
                  >Home</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a href="/industries" style="text-decoration: none; color: white"
                  >Industries</a
                >
              </li>
              <li class="active">
                <span class="fas fa-angle-double-right mx-2"></span>
                <a
                  href="/industries/natural-resources"
                  style="text-decoration: none; color: white"
                  >Natural Resources</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--//inner-page-->
  
  <section class="w3l-blog bloghny-page">
    <div class="blog py-5" id="Newsblog">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-8 bloghnypage-left blog-single-post">
            <!-- <div class="single-post-image mb-4">
                                <img src="assets/images/banner2.jpg" class="img-fluid w-100 radius-image" alt="blog-post-image">
                            </div> -->
            <div class="blog-content">
              <h2 class="post-content-title mb-3">Natural Resources</h2>
              <!-- <h4 class="post-content-title mb-3" style="font-size: 20px">
                      Why BDO Consulting?
                    </h4> -->
              <p class="mb-4">
                The natural resources sector is dynamic, internationally focused and complex. It is always under the microscope as environmental concerns and fluctuating commodity prices draw the attention of regulators, politicians and the general public.              
              </p>
  
              <p class="mb-4">
                BDO's Natural Resources sector practice leverages industry experience and global resources in all of the world's energy centres to help clients navigate challenging landscapes both at home and abroad. Our partners and professionals understand the intricacies of the industry. Our partner-led service teams consist of professionals with a variety of multi-disciplinary backgrounds, allowing them to serve clients with a uniquely comprehensive perspective. In addition to traditional audit, tax, and business consulting, BDO provides advice on complex matters, including transaction advisory services, revenue recognition, technology issues, and risk management globally.
              </p>

              <p class="mb-4">
                As commodity prices fluctuate and environmental concerns continue to draw the attention of regulators, the Natural Resources industry is facing more pressure than ever. Operating at the centre of an international political debate over industry tax incentives, offshore drilling, legislation, and alternative energy, the industry is confronted with a unique set of challenges, complexities, and uncertainties.

              </p>
              <p class="mb-4">
                Nigeria’s GDP largely comes from crude oil. BDO Nigeria works with country’s largest owned petroleum institute therefore; we pride ourselves on our ability to service this sector..
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  